pandas
numpy

dotenv
faiss-cpu

langchain
langchain-community
langchain-openai
langchain-core
langchain-experimental
langchain-text-splitters
langchain-text-splitters
langchain_google_genai
langchain_pinecone

youtube-transcript-api
pinecone

fastapi
uvicorn[standard]